{% extends 'base.html.twig' %}

{% block body %}
    {#    <div class="container">#}
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h4>Lista de Chamados</h4>
        </div>
        
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Solicitante</th>
                <th>Assunto</th>
                <th>Descrição</th>
                <th>Ação</th>
            </thead>
            <tbody>
                {% for chamado in chamados %}
                    <tr>
                        <td><a href="{{ path('chamado_show', { 'id': chamado.id }) }}">{{ chamado.id }}</a></td>
                        <td>{{ chamado.solicitante }}</td>
                        <td>{{ chamado.assunto }}</td>                
                        <td>{{ chamado.descricao }}</td>
                        <td>
                            {#<ul>
                                <li>#}
                            <a href="{{ path('chamado_show', { 'id': chamado.id }) }}">Visualizar</a>
                            {#</li>
                            <li>#}
                            <br><a href="{{ path('chamado_edit', { 'id': chamado.id }) }}">Editar</a>
                            {#</li>
                        </ul>#}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {#    </div>#}

    {#<ul>
        <li>#}
        <a class="btn btn-primary" href="{{ path('chamado_new') }}" role="button">Criar um novo chamado</a>
    {# </li>
 </ul>#}
{% endblock %}
