{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel-primary">
        <div class="panel-heading">
            <h4>Visualizar Chamado</h4>
        </div>
        
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Solicitante</th>
                <th>Assunto</th>
                <th>Descrição</th>
            </thead>
            <tbody>
                {# {% for chamado in chamados %}#}
                <tr>
                    <td>{{ chamado.id }}</td>
                    <td>{{ chamado.solicitante }}</td>
                    <td>{{ chamado.assunto }}</td>
                    <td>{{ chamado.descricao }}</td>
                </tr>
                {#{% endfor %}#}
            </tbody>
        </table>
    </div>


    <style rel="stylesheet">
        ul.none {
            list-style-type: none;
        }
    </style>        

    <ul class="none">
        <li>
            <a href="{{ path('chamado_index') }}">Voltar para a lista</a>
        </li>
        <li>
            <a href="{{ path('chamado_edit', { 'id': chamado.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Excluir">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
